@import 'bourbon';

// variables
$color-1: #9596A6;
$color-2: #D1D9E8;
$color-3: #F3FAFF;
$color-4: #D1E5E8;
$color-5: #E5FFFC;

html {
  font-family: Monaco, monospace, Sans serif;
}

html, body,
div,
h1, h2, h4, h4, h5, h6,
p,
ul, li {
  margin: 0;
  padding: 0;
}

html, body,
div {
  height: 100%;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(182, 182, 182);
}

#app {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  line-height: 2em;
  h1 {
    font-size: 1em;
  }
  #center {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    .list {
      @include display(flex);
      @include justify-content(space-between);
      list-style-type: none;
      a {
        color: rgb(104, 253, 254);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &.under-construction {
          color: rgb(106, 118, 252);
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
}
